.p-datatable > div.p-datatable-wrapper > .p-datatable-table tbody {
    cursor: pointer;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.link-datatable p {
    text-align: left;
}

.link-add-new {
    display: flex;
    justify-content: space-between;
}

.link-add-new > button {
    margin-right: 0px;
    height: 3rem;
}

div#new-link {
    width: 40vw;
}

.submit-buttons-in-modal {
    display: flex;
    justify-content: space-between;
}

.submit-buttons-in-modal > button:first-child {
    background-color: var(--surface-700) !important;
    border: 1px solid var(--surface-700) !important;
}

.link-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


 