.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.main-container {
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    border-radius: 1.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
    padding: 2rem !important;
}

.details-card {
    display: flex;
    align-items: center;
}

.details-card > h3 {
    margin-right: 0.5rem;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-footer > #cancel {
    border: var(--gray-600);
    background-color: var(--gray-600);
}
.details-input .pi-eye-slash {
    color: #6c757d !important;
  }

.user-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}