footer {
    background-color: var(--header-background);
    color: var(--header-color);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer span {
    font-weight: bold;
}
