.satelite-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.satelite-container button {
    margin-right: 0px;
}

.satellite-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    gap: 1rem;
}

.options > button {
    height: 2.5rem;
}

.delete-button.p-button {
    background-color: var( --surface-700) !important;
    border: 1px solid var( --surface-700) !important;
    width: max-content;
}

div#edit-satellite {
    width: 40vw;
}

.back-action {
    font-size: 25px;
}

.button-add-new-transm-in-satelite-details {
    width: 15vw;
}